<a href="https://colab.research.google.com/github/RAIGOZAGIAN1997/MineriaDatos/blob/main/Practicas_Mineria_de_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
#Se importan las librerias necesarias para realizar las practicas correspondientes#
import pandas as pd
import io
from google.colab import files
import numpy as np 
#Se carga el documento CSV a analizar#
subircsv = files.upload()

Saving blockbuster-top_ten_movies_per_year_DFE.csv to blockbuster-top_ten_movies_per_year_DFE (1).csv

In [65]:
#La información del CSV se transforma en Dataframe
df = pd.read_csv(io.BytesIO(subircsv['blockbuster-top_ten_movies_per_year_DFE.csv'])) 
#Se renombra los nombres de las columnas en español
df.rename({'title': 'Titulo','studio': 'Estudio', 'Genre_1': 'Genero','imdb_rating': 'IMDB', 'year': 'Año','worldwide_gross': 'Recaudación'}, axis=1, inplace=True)
#Se coloca 0 en los años donde no hay información
df['Año'] = df['Año'].fillna(0)
#Se transforma los años flotantes en enteros
df['Año'] = df['Año'].astype(np.int64 , errors='ignore')

In [68]:
#Se crea el DataFrame final en el que se va trabajar
df_final = pd.DataFrame.from_dict(df.loc[:,['Estudio','Titulo','Genero','IMDB','Año','Recaudación']])
#Se comprueba el dataframe con los nuevos nombres y las columnas seleccionadas
df_final.head(10)

,Estudio,Titulo,Genero,IMDB,Año,Recaudación
0,Marvel Studios,Captain America: The Winter Soldier,Sci-Fi,7.8,2014,"$714,766,572.00"
1,20th Century Fox,Dawn of the Planet of the Apes,Sci-Fi,7.7,2014,"$708,835,589.00"
2,Marvel Studios,Guardians of the Galaxy,Sci-Fi,8.1,2014,"$774,176,600.00"
3,Paramount Pictures / Warner Bros.,Interstellar,Sci-Fi,8.7,2014,"$672,974,414.00"
4,Walt Disney Pictures,Maleficent,Family,7.1,2014,"$758,654,942.00"
5,Columbia Pictures,The Amazing Spider-Man 2,Fantasy,6.9,2014,"$709,582,323.00"
6,Warner Bros. / New Line Cinema / MGM,The Hobbit: The Battle of the Five Armies,Fantasy,7.5,2014,"$955,113,783.00"
7,Lionsgate Films,The Hunger Games: Mockingjay - Part 1,Sci-Fi,6.8,2014,"$752,100,229.00"
8,Paramount Pictures,Transformers: Age of Extinction,Sci-Fi,5.8,2014,"$1,091,404,499.00"
9,20th Century Fox,X-Men: Days of Future Past,Sci-Fi,8.1,2014,"$748,121,534.00"

In [70]:
#Se ordena por su clasificación IMDB de manera descendente
Ordenar_IMDB = df_final.sort_values('IMDB',ascending=False)
Ordenar_IMDB.head(10)

,Estudio,Titulo,Genero,IMDB,Año,Recaudación
68,Warner Bros. / Legendary,The Dark Knight,Drama,9.0,2008,"$997,000,000.00"
215,Universal Pictures / Amblin Entertainment,Schindler's List,History,8.9,1993,"$321,306,305.00"
116,New Line,The Lord of the Rings: The Return of the King,Fantasy,8.9,2003,"$1,119,929,521.00"
202,Paramount Pictures,Forrest Gump,Romance,8.8,1994,"$677,387,716.00"
346,20th Century Fox,Star Wars Episode V: The Empire Strikes Back,Adventure,8.8,1980,"$209,398,025.00"
138,New Line Cinema,The Lord of the Rings: The Fellowship of the Ring,Fantasy,8.8,2001,"$870,761,744.00"
44,Warner Bros. / Legendary,Inception,Sci-Fi,8.8,2010,"$825,531,030.00"
376,Lucasfilm / 20th Century Fox,Star Wars,Fantasy,8.7,1977,"$307,263,857.00"
197,New Line Cinema,Seven,Mystery,8.7,1995,"$327,311,859.00"
129,New Line Cinema,The Lord of the Rings: The Two Towers,Fantasy,8.7,2002,"$926,287,400.00"